@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-BoldObl.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-BookBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-BookObl.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Cond-ExtraBold.woff') format('woff');
    font-weight: extra-bold;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Cond-Medium.woff') format('woff');
    font-weight: medium;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Cond-MediumObl.woff') format('woff');
    font-weight: medium;
    font-style: oblique;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Demi.woff') format('woff');
    font-weight: demi;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-DemiObl.woff') format('woff');
    font-weight: demi;
    font-style: oblique;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-ExtraBoldObl.woff') format('woff');
    font-weight: extra-bold;
    font-style: oblique;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Heavy.woff') format('woff');
    font-weight: heavy;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Light.woff') format('woff');
    font-weight: light;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: medium;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-MediumObl.woff') format('woff');
    font-weight: medium;
    font-style: oblique;
}
  
body {
    font-family: 'FuturaPT', sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Стили для навигационных кнопок */
.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease, font-weight 0.3s ease;
}

.nav-menu a.active {
    font-weight: bold;
    color: black;
    border-bottom: 2px solid black;
}

.nav-menu a:hover {
    background-color: #f5f5f5;
    color: black;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-container button {
    padding: 8px 12px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    width: 250px;
}

.icons div {
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}


/* Стили для второй панели (подкатегории) */
.submenu {
    position: fixed;
    top: 80px; /* Увеличили отступ до 80px */
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 15px; /* Добавили больше внутреннего отступа */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Должен быть ниже основного хедера */
}

.submenu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.submenu ul li {
    margin: 0 15px;
}

.submenu ul a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: color 0.3s;
}

.submenu ul a:hover {
    color: #a01f1f; /* Эффект при наведении */
}